@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.btn__link {
    display: inline-block;
    padding: 6px 10px;
    border: 1px solid #815030;
    color: #815030;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.btn__link:hover {
    background-color: #815030;
    color: #fff;
}

.container {
    max-width: 1296px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.menubar {
    z-index: 50;
    position: relative;
    top: 0;
    left: 0;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu--left {
    z-index: 50;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    position: relative;
}

.menu__item {
    transition: all 0.3s ease;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 2.5em;
}

.menu__link {
    font-size: 16px;
    color: #101010;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    min-height: 22px;
    text-transform: capitalize;
    padding: 0;
    position: relative;
    width: 100%;
    text-align: center;
    /*border-bottom: 1px solid transparent;*/
}

.category-grid {
    display: grid;
    grid-template-columns: 40.7582938389% 28.4360189573% 28.4360189573%;
    grid-template-rows: 29.4117647059% 37.556561086% 29.4117647059%;
    gap: 18px 18px;
    grid-auto-flow: row;
    grid-template-areas:
        "gri1 gri4 gri4"
        "gri1 gri2 gri3"
        "gri5 gri5 gri5";
}

.category-grid .gri1 {
    grid-area: gri1;
}

.category-grid .gri2 {
    grid-area: gri2;
}

.category-grid .gri3 {
    grid-area: gri3;
}

.category-grid .gri4 {
    grid-area: gri4;
}

.category-grid .gri5 {
    grid-area: gri5;
}

.category-grid-item {
    display: flex;
    height: 100%;
    position: relative;
}

.category-grid-item__info {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    padding-left: 17px;
}

.category-grid-item__info h3 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #101010;
}

.category-grid .gri1 .category-grid-item .category-grid-item__info h3 {
    max-width: 200px;
}

.category-grid .gri2 .category-grid-item .category-grid-item__info {
    position: absolute;
    top: unset;
    bottom: 30px;
    left: 0px;
    transform: translate(0, 0);
}

.category-grid .gri3 .category-grid-item .category-grid-item__info {
    position: absolute;
    top: unset;
    bottom: 30px;
    left: 0px;
    transform: translate(0, 0);
}

.category-grid .gri5 .category-grid-item .category-grid-item__info {
    padding-left: 400px;
}

.product-new-item:nth-child(odd) {
    justify-content: flex-start;
}

.product-new-item:nth-child(even) {
    justify-content: flex-end;
}