@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.btn__link {
    display: inline-block;
    padding: 6px 10px;
    border: 1px solid #815030;
    color: #815030;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.btn__link:hover {
    background-color: #815030;
    color: #fff;
}

.input__control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 10px 12px;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    transition: all 0.15s ease;
    border: none;
    border-bottom: 1px solid #ebebeb;
    background: rgba(255,255,255,0.7);
    outline: none;
}

.container {
    max-width: 1296px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.thumbs-slide-product .swiper-slide-thumb-active {
    border-color: red;
}

@media only screen and (min-width: 1024px) {


    .site-nav .ul-nav>li>.submenu {
        position: absolute;
        top: 100%;
        left: 0;
        transform: scale(0);
        transform-origin: top left;
        min-width: 100%;
        text-align: left;
        z-index: 99;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 23%);
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
        border-radius: 6px;
    }

    .site-nav .ul-nav>li:hover>ul {
        visibility: visible;
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .submenu .item {
        display: block;
        padding: 12px 30px;
        white-space: nowrap;
        -webkit-transition: background 0.3s, color 0.3s;
        -o-transition: background 0.3s, color 0.3s;
        transition: background 0.3s, color 0.3s;
    }
}

@media only screen and (max-width: 1023px) {
    .site-nav {
        position: fixed;
        right: -300px;
        background: #fff;
        width: 250px;
        height: 100%;
        top: 0;
        bottom: 0;
        z-index: 9999;
        border-left: 1px solid #eaeaea;
        transition: all 0.3s ease;
    }

    .site-nav--open {
        right: 0;
    }

    .site-nav .ul-nav {
        flex-wrap: wrap;
    }

    .site-nav .ul-nav li {
        width: 100%;
        margin: 0;
        display: block;
    }

    .site-nav .ul-nav li a {
        display: block;
        padding: 10px 12px;
    }

    .site-nav .ul-nav .submenu {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .btn__link {
        padding: 0;
        border: none;
        font-size: 13px;
    }
}
