abbr,address,article,aside,audio,b,blockquote,body,body div,caption,cite,code,dd,del,details,dfn,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font-weight:400;vertical-align:baseline;background:0 0}article,aside,details,figure,footer,header,nav,section,summary{display:block}html{box-sizing:border-box}*,:after,:before{box-sizing:inherit}embed,img,object{max-width:100%}html{overflow-y:scroll}ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:collapse;border-spacing:0}th{font-weight:700;vertical-align:bottom}td{font-weight:400;vertical-align:top}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}input[type=radio]{vertical-align:text-bottom}input[type=checkbox]{vertical-align:bottom}.ie7 input[type=checkbox]{vertical-align:baseline}.ie6 input{vertical-align:text-bottom}input,select,textarea{font:99% sans-serif}table{font-size:inherit;font:100%}small{font-size:85%}strong{font-weight:700}td,td img{vertical-align:top}sub,sup{font-size:75%;line-height:0;position:relative}sup{top:-.5em}sub{bottom:-.25em}code,kbd,pre,samp{font-family:monospace,sans-serif}.clickable,button,input[type=button],input[type=file],input[type=submit],label{cursor:pointer}button,input,select,textarea{margin:0}button,input[type=button]{width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}.clearfix:after,.clearfix:before{content:"\0020";display:block;height:0;overflow:hidden}.clearfix:after{clear:both}.clearfix{zoom:1}.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px}.col{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}@media (min-width:576px){.col-sm{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-sm-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-sm-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-sm-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-sm-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-sm-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-sm-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-sm-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-sm-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-sm-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-sm-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-sm-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-sm-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}}@media (min-width:768px){.col-md{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-md-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-md-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-md-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-md-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-md-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-md-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-md-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-md-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-md-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-md-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-md-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-md-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}}@media (min-width:992px){.col-lg{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-lg-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-lg-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-lg-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-lg-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-lg-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-lg-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-lg-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-lg-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-lg-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-lg-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-lg-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-lg-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-lg-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}}@media (min-width:1200px){.col-xl{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-xl-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-xl-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-xl-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-xl-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-xl-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-xl-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-xl-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-xl-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-xl-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-xl-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-xl-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-xl-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-xl-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}}@media (min-width:576px){.container{max-width:540px}}@media (min-width:768px){.container{max-width:750px}}@media (min-width:992px){.container{max-width:990px}}@media (min-width:1200px){.container{max-width:1170px}}

.container-fluid {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px
}
/* CODE */

@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&display=swap');

@font-face {
    font-family: VDBrevia;
    src: url("../webfonts/VDBrevia-Bold.ttf");
}

@font-face {
    font-family: ArimaMadurai;
    src: url("../webfonts/ArimaMadurai-Black.ttf");
}

body {
    font-size: 14px;
    font-family: 'ArimaMadurai';
}

a {
    text-decoration: none;
}

.title {
    font-family: 'VDBrevia';
}

.thumb {
    display: block;
    overflow: hidden;
    height: 0;
    position: relative;
    width: 100%;
    background: #f4f4f4;
    padding-bottom: 60%;
}

.thumb img {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.menu-main {
    position: relative;
    z-index: 999;
    margin-top: 50px;
}

.menu-main .menu-container {
    position: static;
    padding: 0;
    z-index: 999;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: center;
    height: 100px;
}

.menu-main .logo {
    margin-left: 26px;
    margin-right: 26px;
}

.menu-main .menu-content {
    flex: auto;
}

.menu-main .menu-content .menu-wapper>li {
    display: inline-block;
    padding: 25px 10px;
    position: relative;
}

.menu-main a {
    font-family: 'VDBrevia';
    font-size: 18px;
    color: #1D1D1D;
    text-transform: uppercase;
    display: block;
}

.menu-main .search {
    display: flex;
    align-items: center;
    margin-left: 26px;
    margin-right: 26px;
}

.menu-main .search .search-content {
    line-height: 0;
    margin-left: 10px;
}

.submenu .submenu-content {
    position: absolute;
    top: 140px;
    opacity: 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    transition: all .3s;
}

.submenu:hover .submenu-content {
    opacity: 1;
    top: 70px;
    height: auto;
    visibility: visible;
}

.submenu .submenu-content>li a {
    padding: 10px 20px;
    width: 250px;
}

.submenu .submenu-content>li a:hover {
    background: #007F3E;
    color: #fff;
}

.slider-home {
    margin-top: -150px;
    position: relative;
}

.about-us {
    background: url('../../public/images/bg-about-us.png') center center no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title-text {
    text-align: center;
    position: relative;
    margin-bottom: 69px;
}

.title-text::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #eaeaea;
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    z-index: 1;
}

.title-text span {
    color: #007F3E;
    font-size: 44px;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 60px;
    background: #fff;
    position: relative;
    z-index: 2;
    font-family: 'VDBrevia';
}

.timeline-container {
    display: flex;
}

.timeline {
    position: relative;
    width: 150px;
    height: 20rem;
    flex-shrink: 0;
}

.content-timeline {
    padding: 0 40px;
    font-size: 16px;
    color: #1D1D1D;
}
  
.timeline:before {
    position: absolute;
    left: 150px;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    height: 100%;
    background: #ddd;
    z-index: 5;
}
  
.timeline li {
    margin-bottom: 8rem;
}
  
.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
  
.direction-l {
    position: relative;
    width: 150px;
}
  
.flag-wrapper {
    position: relative;
    display: block;
}
  
.direction-l .flag {
    position: relative;
    display: block;
    font-family: 'VDBrevia';
    text-align: right;
    font-size: 18px;
    padding-right: 25px;
    color: #888888;
}

.direction-l.active .flag {
    color: #1D1D1D;
}
  
.direction-l .flag:before {
    position: absolute;
    top: 50%;
    right: -15px;
    content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -12px;
    background: #DDDDDD;
    border-radius: 50%;
    border: 6px solid #FFF;
    z-index: 10;
}

.direction-l.active .flag:before {
    background: #007F3E;
}

.blog-home {
    background: url('../../public/images/bg-blog.png') center center no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

.blog-home .item {
    box-shadow: rgb(0 0 0 / 10%) 0 1px 3px;
}

.blog-home .txt-content {
    background: #fff;
    padding: 15px;
}

.blog-home .txt-content .title {
    font-size: 18px;
    line-height: 30px;
    color: #1D1D1D;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.blog-home .txt-content .desc {
    color: #444444;
    font-size: 16px;
    line-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.blog-home .item-first .thumb {
    padding-bottom: 340px;
}

.blog-home .item-first .txt-content {
    height: 120px;
}

.blog-home .item-first .txt-content .title {
    font-size: 22px;
}

.blog-home .item-list .item a {
    display: flex;
}

.blog-home .item-list .item .thumb {
    width: 150px;
    flex-shrink: 0;
    padding-bottom: 100px;
}

.blog-home .item-list .item .txt-content {
    padding-top: 0;
    padding-bottom: 0;
}

.blog-home .item-list .item {
    margin-bottom: 30px;
}

.blog-home .item-list .item:last-child {
    margin-bottom: 0;
}

.product-home {
    background: url('../../public/images/bg-product.png') center center no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

.product-home .product-slide {
    border: 2px solid #FFC404;
    padding: 100px 50px;
    border-radius: 30px;
    position: relative;
    top: -39px;
}

.product-home .title-text {
    margin-bottom: 0;
}

.product-home .title-text::before {
    content: unset;
}

.product-home .product-slide {
    display: flex;
}

.product-home .product-slide .item {
    text-align: center;
    padding: 0 15px;
}

.product-home .product-slide .thumb-img {
    height: 300px;
    margin-bottom: 10px;
}

.product-home .product-slide .thumb-img img {
    height: 100%;
}

.product-home .product-slide .title {
    font-size: 20px;
    line-height: 26px;
    color: #007F3E;
    margin-bottom: 10px;
}

.product-home .product-slide .desc {
    color: #444444;
    font-size: 18px;
    line-height: 22px;
}

.brand-img {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #eaeaea4d;
}

.brand-img .item {
    background: #FFFFFF;
    border-radius: 36px;
    text-align: center;
    padding: 10px;
}

.footer {
    background: url('../../public/images/bg-footer.png') center center no-repeat;
    background-size: cover;
    position: relative;
}

.footer-top {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
}

.footer-top .container {
    max-width: 1500px;
}

.footer-top a {
    color: #fff;
}

.footer-top .title {
    margin-bottom: 30px;
}

.menu-footer .title {
    font-size: 24px;
    line-height: 31px;
}

.info-footer .title {
    font-size: 30px;
    line-height: 39px;
}

.copyright {
    padding: 10px;
    background: rgb(0 0 0 / 0.07);
    color: #FFFFFF;
    text-align: center;
    position: relative;
}

.fixed-social {
    position: fixed;
    right: 10px;
    top: 20%;
}

.fixed-social .item {
    width: 48px;
    height: 48px;
    background: #fff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.03);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.social-footer {
    display: inline-flex;
}

.social-footer li {
    display: inline-block;
}

.social-footer .item {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #FFFFFF;
    margin-left: 10px;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 8px solid rgba(255, 255, 255, 0.3);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* page */

.breadcrumb {
    background: url("../../public/images/breadcrumb.png");
    height: 215px;
    margin-top: -150px;
    padding-top: 150px;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb ul {
    color: #fff;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb li a {
    color: #fff;
    text-transform: uppercase;
    margin: 0 5px;
}

.blog-page {
    background: #fff;
    min-height: 500px;
}

.blog-page .item-list2 {
    margin-top: 30px;
}

.blog-page .item-list2 .item .thumb {
    width: 300px;
    padding-bottom: 180px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    width: 35px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 25px;
    text-align: center;
    color: #111;
    background-color: #EFF6FB;
    border-radius: 8px;
}

.pagination .page-link.active {
    color: #fff;
    background: #007F3E;
}

.blog-detail-page {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 500px;
}

.blog-detail-page .title {
    font-size: 36px;
    line-height: 46px;
    color: #007F3E;
    margin-bottom: 30px;
}

.blog-detail-page .title-text span {
    font-size: 33px;
}

.detail-content {
    margin-bottom: 30px;
}

.blog-related .txt-content {
    background: #F6F6F6;
    padding: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.blog-related .title-text {
    margin-bottom: 30px;
}

.product-page .title-text {
    margin-bottom: 69px;
}

.product-page .title-text::before {
    content: "";
}

.product-page .product-slide {
    top: 0;
    margin-top: 30px;
}

.product-container {
    margin-bottom: 60px;
}

.product-info .title {
    color: #007F3E;
    font-size: 40px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
}

.product-info .price-new {
    color: #EC2028;
    font-size: 20px;
}

.product-info .price-old {
    font-size: 18px;
    color: #888888;
    text-decoration: line-through;
}

.product-info .product-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-container .product-img {
    display: flex;
}

.product-container .product-img .product-slide-view {
    width: 100px;
    flex-shrink: 0;
    text-align: center;
}

.product-container .product-img .product-slide-view .item {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-container .product-img .product-slide-view .item.active {
    border: 1px solid #007F3E;
}

.product-container .product-img .product-slide-view .item img {
    width: 100%;
    height: 100%;
}

.product-container .product-img .product-view {
    padding-left: 20px;
    flex: 1;
}

.product-container .product-img .product-view img {
    display: block;
    margin: 0 auto;
}

.product-info .btn-addCart {
    border: 1px solid #007F3E;
    color: #007F3E;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    text-align: center;
    margin-right: 10px;
}

.product-info .btn-buy {
    border: 1px solid #F76901;
    color: #F76901;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.product-tab .product-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.product-tab .product-nav .title {
    border-radius: 22px;
    border: 1px solid #007F3E;
    color: #007F3E;
    padding: 10px 30px;
    margin: 10px;
    cursor: pointer;
}

.product-tab .product-nav .title.active {
    background: #007F3E;
    color: #fff;
}

.contact-page {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 500px;
}

.contact-container {
    display: flex;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.03);
}

.contact-img, .contact-form {
    width: 50%;
    flex-shrink: 0;
}

.contact-img img {
    height: 100%;
}

.contact-form {
    padding: 15px;
}

.contact-form .title {
    color: #007F3E;
    font-size: 33px;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.contact-form label {
    display: block;
}

.contact-form .input-control {
    border: 0;
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;
}

input {
    outline: none;
}

.contact-form .contact-desc {
    text-align: center;
}

.contact-form .contact-btn {
    text-align: center;
    padding-top: 10px;
}

.contact-form .btn {
    background: #007F3E;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    color: #fff;
}

@media only screen and (max-width: 991px) {
    .title-text {
        margin-bottom: 30px;
    }

    .title-text span {
        font-size: 33px;
    }

    .contact-img, .contact-form {
        width: 100%;
    }

    .contact-container {
        flex-direction: column;
    }

    .blog-related .item {
        margin-bottom: 30px;
    }

    .menu-wapper {
        display: none;
    }

    .timeline-container {
        margin-bottom: 60px;
    }

    .about-us-img {
        text-align: center;
    }

    .blog-home .item-first .txt-content {
        height: auto;
    }

    .blog-home .item {
        margin-bottom: 30px;
    }

    .title-img {
        display: none;
    }

    .menu-footer {
        margin-top: 40px;
    }
}